* {
  font-family: sans-serif;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 20px;
  width: 320px;
}

button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  cursor: pointer;
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}

.result {
  font-size: 24px;
  margin: 10px 0;
}

.buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
